# modified Allowlisting gitignore
# Ignore everything
*

!/.gitignore
!/.github/**/*.yaml

!LICENSE
!VERSION
!Makefile

!README.md
!config/**/*.yaml
!content/**
!static/**
!assets/**

# hugo modules
!go.sum
!go.mod

# npm for tailwind cli
!package.json
!package-lock.json

# but allow the above files in (sub)directories
!*/

# explicitly ignore experimentation and in-progress development
exp/**
.exp/**
node_modules/**
public/**
.hugo_build.lock
resources/
hugo_stats.json
