name: Build and deploy
on:
  push:
    branches:
      - main
  workflow_dispatch:
permissions:
  contents: read
concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: false
defaults:
  run:
    shell: bash
jobs:
  build_and_deploy:
    runs-on: ubuntu-latest
    env:
      GO_VERSION: 1.25.1
      HUGO_VERSION: 0.151.0
      TZ: America/Los_Angeles
    steps:
      - name: Checkout
        uses: actions/checkout@v5
        with:
          submodules: recursive
          fetch-depth: 0
      - name: Setup Hugo
        uses: peaceiris/actions-hugo@v3
        with:
          hugo-version: ${{ env.HUGO_VERSION }}
          extended: true
      - name: Build the site
        run: |
          hugo mod get -u ./...
          hugo \
            --gc \
            --minify
      # - name: Setup SSH key
      #   uses: webfactory/ssh-agent@v0.9.0
      #   with:
      #     ssh-private-key: ${{ secrets.SSH_KEY }}
      # - name: Upload
      #   run: |
      #     cd public || exit 1
      #     rsync -hvcr --progress --delete -e "ssh -o StrictHostKeyChecking=no" . ${{ secrets.SSH_USER }}@${{ secrets.SSH_HOSTNAME }}:${{ secrets.CONTENT_DESTINATION }}

      - name: Rsync deployment
        uses: burnett01/rsync-deployments@7.1.0
        with:
          switches: -avzr --delete
          path: public/
          remote_path: ${{ secrets.CONTENT_DESTINATION }}
          remote_host: ${{ secrets.SSH_HOSTNAME }}
          remote_user: ${{ secrets.SSH_USER }}
          remote_key: ${{ secrets.SSH_KEY }}
